html,body{
  background-color: black;
  margin:0; padding:0;
  height: 100%;
}

p{
  color:white;
  font-size: 1.2rem;
  font-family: 'Gamja Flower', cursive;
}
.container{
  display: flex;
  flex:1;
  flex-direction: column;
  height: 100%;
}
.header-title{
  color:white;
  font-family: 'Gamja Flower', cursive;
  font-size: 1.5rem;
}

.header-title-prompt{
    animation: prompt 0.5s infinite;
    animation-direction: alternate;
}
@keyframes prompt {
    from {opacity: 0;}
    to {opacity: 1}
}

.main-content{
  flex:1;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.resume-name{
  font-size: 1.5rem;
}

.footer{
  border-top: 1px solid grey;
  height: 30px;
}

.css3D-container{

}
`
.circle-3D{
background-color: red;
height: 10rem;
width: 10rem;
}
.child-circle-3D{
background-color: blue;
}
.child-circle-3D{
background-color: purple;
}
.child-circle-3D{
background-color: white;
}
